<!doctype html>
<html>
	<head>
		<title>IPL Dashboard</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>
	<body>

	<header>
		<ul id="teamNav">
			<li class="headerItem" data-id="Delhi"><a href="http://delhidaredevils.com"><img style="margin-top: 7px;margin-left: 2px;" src="/static/img/Delhi.png"><!-- Delhi --></a></li>
			<li class="headerItem" data-id="Gujarat"><a href="http://thegujaratlions.com"><img style="margin-top: 8px" src="/static/img/Gujrat.png"><!-- Gujrat --></a></li>
			<li class="headerItem" data-id="Punjab"><img style="margin-top: 11px;width: 70%;"  src="/static/img/Punjab.png"><!-- Punjab --></li>
			<li class="headerItem" data-id="Kolkata"><a href="http://kkr.in"><img style="margin-top: 7px;margin-left: 2px;" src="/static/img/Kolkata.png"><!-- Kolkata --></a></li>
			<li class="headerItem" data-id="Mumbai"><a href="http://mumbaiindians.com"><img  style="margin-top: 17px" src="/static/img/Mumbai.png"><!-- Mumbai --></a></li>
			<li class="headerItem" data-id="Pune"><a href="http://risingpunesupergiant.in"><img style="margin-top: 18px;width: 90%;margin-left: 1px;" src="/static/img/Pune.png"><!-- Pune --></a></li>
			<li class="headerItem" data-id="Bangalore"><a href="http://royalchallengers.com"><img style="margin-top: 5px;margin-left: 3px;" src="/static/img/Bangalore.png"><!-- Bangalore --></a></li>
			<li class="headerItem" data-id="Hydrabad"><a href="http://sunrisershydrabad.in"><img style="margin-top: 18px;margin-left: 3px;" src="/static/img/shit.png"><!-- Hydrabad --></a></li>
		</ul>

		<h2><a id="mainLink" href="http://iplt20.com"><img src="/static/img/ipl.png"></a></h2>
	</header>

	<div id="container" class="cf">
		<section id="newsFeed">

		</section>
		<aside id="leaderboard">
<iframe style="margin: 0 auto;    display: block;" id="ptble" width="450" name="mobile" height="600" src="http://m.cricbuzz.com/cricket-series/2568/indian-premier-league-2017/points-table"></iframe>
  </aside>
		<section id="liveScore">
			<script>
  app="www.cricwaves.com"; mo="f1_kzd"; tor =""; mtype ="";  wi="{{wi}}"; Width="302px"; Height="252px";  co ="flash"; 

 </script><script type="text/javascript" src="http://www.cricwaves.com/cricket/widgets/script/scoreWidgets.js"></script>
		</section>
	</div>

	

		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/jquery.rss.js"></script>
		<script src="/static/js/script.js"></script>
	</body>
</html>